div.contents {
    width: 650px;
    margin: 0 auto;
}

form {
  background: #f2f4f8;
  border: #c7c7c7 solid 1px;
  padding: 20px 12px 12px 12px;
  margin: 0 0 10px 0;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

table.templates {
  margin-top: 40px;
}

td.buttons {
  width: 140px;
  text-align: center;
}

button {
  margin: 2px;
}
